<div class="center hero-unit">
  <h1>LEARN HOW TO BE ACTIVE 24 HOURS A DAY AND LIVE FOREVER  </h1>

  
     
  <h1>

  <%= link_to "Sign up now!", signup_path, :class => "btn btn-large btn-primary" %>
</div>

<%
=begin
%>
<%= link_to image_tag("rails.png", :alt => "Rails"), 'http://greygoo.herokuapp.com/static_pages/home' %>
<%
=end
%>	  

 
