<div class="center hero-unit">
  <h1>Join today and you will learn how to be active 24 hours a day
       and live forever!
  </h1>

  <h1>
      FIND OUT WHO IS HACKING WHAT!
  <h1>

  <%= link_to "Sign up now!", signup_path, :class => "btn btn-large btn-primary" %>
</div>

<%
=begin
%>
<%= link_to image_tag("rails.png", :alt => "Rails"), 'http://greygoo.herokuapp.com/static_pages/home' %>
<%
=end
%>	  

 
