<div class="center hero-unit">
  <h1>UNDER CONSTRUCTION!!!</h1>

  <h2>
    Welcome to the
    <a href="http://crsociety.org">Calorie Restriction</a>
    forums
  </h2>

  <h1>
    What is the perfect diet? Is is something personal, unique to each invididual?
    I've recently been reading a lot of conflicting information, from calorie restriction
    to eating 4500 calories a day, 60% of which come from fat. What's the deal? Both 
    of these have supporting research, so what should we do?
  <h1>

  <%= link_to "Sign up now!", signup_path, :class => "btn btn-large btn-primary" %>
</div>

<%
=begin
%>
<%= link_to image_tag("rails.png", :alt => "Rails"), 'http://greygoo.herokuapp.com/static_pages/home' %>
<%
=end
%>	  

 
