<footer class="footer">
  <small>
    <a href="https://www.google.com/search?q=How+to+live+forever&rlz=1C5CHFA_enUS503US503&oq=How+to+live+forever&aqs=chrome.0.57j62l3.2496j0&sourceid=chrome&ie=UTF-8#rlz=1C5CHFA_enUS503US503&sclient=psy-ab&q=Immortality&oq=Immortality&gs_l=serp.3..0l4.6370.8913.0.9117.11.6.0.5.5.0.131.670.0j6.6.0...0.0.0..1c.1.17.psy-ab.lbBhofwWgRU&pbx=1&bav=on.2,or.r_cp.r_qf.&bvm=bv.48293060,d.dmg&fp=7c755eaf540a7915&biw=819&bih=455">The Truth</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://play.google.com/store/apps/details?id=com.radon.greygoo.tictactoe">GET APPS NOW!</a></li>
    </ul>
  </nav>
</footer>
