<footer class="footer">
  <small>
  <a href="http://en.wikipedia.org/wiki/Immortality">The Truth</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://play.google.com/store/apps/details?id=com.radon.greygoo.tictactoe">GET APPS NOW!</a></li>
    </ul>
  </nav>
</footer>
