<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">New site</a>
    Alright!!
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="https://play.google.com/store/apps/details?id=com.radon.greygoo.tictactoe">GET APPS NOW!</a></li>
    </ul>
  </nav>
</footer>