<footer class="footer">
  <small>
    <a href="https://docs.google.com/document/d/1p_CI8_0NgF1zuesG6sBS6pE-oGyRDnz_l8e-UISc4QA/edit?pli=1">My CV</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://play.google.com/store/apps/details?id=com.radon.greygoo.tictactoe">GET APPS NOW!</a></li>
    </ul>
  </nav>
</footer>